/.EMFGraph.java._trace
/.EMFGraph.xtendbin
/.GraphStatistic.java._trace
/.GraphStatistic.xtendbin
/EMFGraph.java
/GraphStatistic.java
/.Graph.java._trace
/.Graph.xtendbin
/.PartialInterpretationGraph.java._trace
/.PartialInterpretationGraph.xtendbin
/Graph.java
/PartialInterpretationGraph.java
