/.Metric.java._trace
/.Metric.xtendbin
/.MultiplexParticipationCoefficientMetric.java._trace
/.MultiplexParticipationCoefficientMetric.xtendbin
/.NodeActivityMetric.java._trace
/.NodeActivityMetric.xtendbin
/.OutDegreeMetric.java._trace
/.OutDegreeMetric.xtendbin
/Metric.java
/MultiplexParticipationCoefficientMetric.java
/NodeActivityMetric.java
/OutDegreeMetric.java
